
* {
  box-sizing: border-box;
  border: thin solid red;
}

#header {
background-color: black;
text-align: right;

}

#number {
display: inline-block;
color: white;
}

.login {
display: inline-block;
background-color: #5ad651;
color: white;

}

.login > ul > li  {
display: inline-block;
}

#menu {
text-align: right
}


#menu > ul > li {
display: inline-block;
}

.logo {
float: left;
font-size: 24px;
font-weight: bold;
}

.e {
  float: left;
  color: #5ad651;
}

#browser {
position: relative;
}

#browser > img {
width: 100%;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

#green {
color: #5ad651;
}

#white {
color: white;
}

.field {
  display:flex;
  position:realtive;
  width:70%;
  flex-direction:row;
  margin: auto;

}

.field>input[type=text],
.field>button {
  display:block;
  font:20px 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border: solid black;
}

.field>button {
  padding:0.6em 0.8em;
  background-color:#5ad651;
  color:white;
  border:none;
}

#summary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em 8em;
}

.summary-carts {
  padding: 1em;
  margin: 1em;
  display: inline-grid;
  text-align: center;
}

.summary-carts > i {
font-size: 70px;
color: #5ad651;
text-align: center;
}

.summary-carts > h3 {
text-align: center;
}

#courses {
background-color: #ede5e5;
}

.courses-title {
font-size: 30px;
font-weight: bold;
padding: 1em;
text-align: center;
}

#e-learning {
display: inline-block;
color: #5ad651;
}

.courses-browser {

display: grid;
grid-template-columns: 3fr;
padding: 1em 8em;
background-color: #ede5e5;
}

.browser-cart {
background-color: white;
margin: 1em;
}

.browser-cart > ul > li {
display: inline-block;
margin: 5px;
}

#all {
float: left;
color: white;
background-color: #5ad651;
margin: 5px;
padding-left: 15px;
padding-right: 15px;
border-radius: 5px;
}

#all-courses {
float: right;
display: inline-block;
color: #5ad651;
border: thin solid #5ad651;
border-radius: 5px;
margin: 5px;
padding-right: 15px;
padding-left: 15px;
}

.courses-carts {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  padding: 1em 8em;
}


.certificate {
margin: 1em;
background-color: white;
padding: 1em;
}

.certificate > img {
width: 100%;

}

.certificate > h5 {
color: grey;
}

.certificate > h3 {
}
